{% extends "main_page.html" %}
{% block body %}
<body>
<div class="container">
  <h2>CSV Upload</h2>
  <p>Upload your Items File.</p>
        {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}

 <form action="/csv_file_submit" method="post" enctype="multipart/form-data">
  <div class="form-group card bg-success text-white p-2">
    <label for="exampleFormControlFile1">Choose the CSV file to upload.</label>
    <input type="file" class="form-control-file mb-2" name="csv_file" id="exampleFormControlFile1">
      <div class = "input-group input-group mb-4">
      		   <div class="input-group-prepend">
                <span class="input-group-text" id="bill_date1">Bill Date</span>
               </div>
            <input class="form-control" type="date" name="bill_date" placeholder="Bill Date" required/>&nbsp &nbsp
            <input class="form-control" type="text" name="bill_number" placeholder="Bill Number" required/>&nbsp &nbsp
            <input class="form-control" type="text" name="purchased_from" placeholder="Dealer" required/>&nbsp &nbsp
            <input class="form-control" type="text" name="remarks2" placeholder="Remarks" required/>&nbsp &nbsp
      </div>
              <input type="submit" class="btn btn-primary float-right" value="Submit"/>

  </div>
</form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );</script>

{% endblock %}