{% extends "main_page.html" %}
{% block body %}
<div class="container">
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
 <div class="row">
            <!-- Total Inventory -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Inventory</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{cards[0][0][0] if cards[0][0][0] else 0}}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">NPRs.{{"{:,.2f}".format(cards[0][0][1]) if cards[0][0][1] else 0}}</div>
                    </div>
                    <div class="col-auto">
                      <a href="/total_inventory"><i class="fas fa-calendar fa-2x text-gray-300"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Today's Entry -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Today's Entry</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{cards[1][0][0] if cards[1][0][0] else 0}}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">NPRs.{{"{:,.2f}".format(cards[1][0][1]) if cards[1][0][1] else 0}}</div>
                    </div>
                    <div class="col-auto">
                      <a href="/entry_report"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Workshop Sales -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Workshop Sales</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{cards[2][0][0] if cards[2][0][0] else 0}}</div>
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">NPRs.{{"{:,.2f}".format(cards[2][0][1]) if cards[2][0][1] else 0}}</div>
                        </div>
                        <!---
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        --->
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href = "/exit_report"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Counter Sales -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Counter Sales</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{cards[3][0][0] if cards[3][0][0] else 0}}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">NPRs.{{"{:,.2f}".format(cards[3][0][1]) if cards[3][0][1] else 0}}</div>
                    </div>
                    <div class="col-auto">
                        <a href = "/exit_report"> <i class="fas fa-calculator fa-2x text-gray-300"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}