{% extends "main_page.html" %}
{% block body %}
<div class="container">
  <h2>Exit Report</h2>
  <p>Find all the Items Exits here.</p>
<div class = "container">
    <form action="/exit_report_submit" method = "post">
  <div class = "input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text">From</span>
    </div>
      <input id = "exit_date_from" class="form-control" type="date" name="exit_date_from7" placeholder="Exit Date From"/>&nbsp &nbsp
    <div class="input-group-prepend">
      <span class="input-group-text">To</span>
    </div>
      <input id = "exit_date_to" class="form-control" type="date" name="exit_date_to7" placeholder="Exit Date To"/>&nbsp &nbsp
      <input id = "part_number3" class="form-control" type="text" name="part_number7" placeholder="Part Number"/>&nbsp &nbsp
      <input id = "quantity3" class="form-control" type="number" name="quantity7" placeholder="Quantity"/>&nbsp &nbsp
      <input id = "amount3" class="form-control" type="text" name="amount7" placeholder="Amount"/>&nbsp &nbsp
      <input id = "entered_by" class="form-control" type="text" name="exit_by" placeholder="Exit By"/>&nbsp &nbsp
  </div><br>
        <button type="button" class="btn btn-primary float-right" onclick="this.form.submit();">Generate</button>
        </form>
</div><br><br>
    <div class="container">
        <input class="form-control form-control-sm" type="text" id="input_value" onkeyup="myFunction()" placeholder="Search..">

        <table id="view_inventory" class="display table table-striped table-hover table-sm" style="width:100%">
        <thead>
            <tr>
    <th style="cursor: pointer" onclick="sortNumber(0)">SN</th>
    <th style="cursor: pointer" onclick="sortTable(1)">Exit Number</th>
    <th style="cursor: pointer" onclick="sortTable(2)">Part Number</th>
    <th style="cursor: pointer" onclick="sortTable(3)">Part Name</th>
    <th style="cursor: pointer" onclick="sortNumber(4)">Quantity</th>
    <th style="cursor: pointer" onclick="sortNumber(5)">Amount</th>
    <th style="cursor: pointer" onclick="sortTable(6)">Remarks</th>
    <th style="cursor: pointer" onclick="sortTable(7)">Exit Type</th>
    <th style="cursor: pointer" onclick="sortTable(8)">Exit Date</th>
    <th style="cursor: pointer" onclick="sortTable(9)">Exit By</th>
            </tr>
        </thead>
        <tbody id="inventory_body">
        {% if exit_report %}
        {% for rows in exit_report %}
            <tr>
                <td>{{0+1}}</td>
                <td>{{rows[0]}}</td>
                <td>{{rows[1]}}</td>
                <td>{{rows[2]}}</td>
                <td>{{rows[3]}}</td>
                <td>{{rows[4]}}</td>
                <td>{{rows[5]}}</td>
                <td>{{rows[6]}}</td>
                <td>{{rows[7]}}</td>
                <td>{{rows[8]}}</td>
            </tr>
        {% endfor %}
        {% endif %}
			</tbody>
			</table>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#input_value").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#inventory_body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("view_inventory");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function sortNumber(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("view_inventory");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
      if (Number(x.innerHTML) < Number(y.innerHTML)) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
      if (Number(x.innerHTML) > Number(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>

{% endblock %}