{% extends "main_page.html" %}
{% block body %}
<div class="container">
  <h2>Items Lookup</h2>
  <p>Find the latest price of the Items here.</p>
</div><br><br>
    <div class="container">
        <input class="form-control form-control-sm" type="text" id="input_value" onkeyup="myFunction()" placeholder="Search..">

        <table id="view_inventory" class="display table table-striped table-hover table-sm" style="width:100%">
        <thead>
            <tr>
    <th style="cursor: pointer" onclick="sortNumber(0)">SN</th>
    <th style="cursor: pointer" onclick="sortTable(1)">Part Number</th>
    <th style="cursor: pointer" onclick="sortTable(2)">Description</th>
    <th style="cursor: pointer" onclick="sortTable(3)">Superseeding Item</th>
    <th style="cursor: pointer" onclick="sortTable(4)">Superseeding Level</th>
    <th style="cursor: pointer" onclick="sortTable(5)">MRP w/o VAT</th>
    <th style="cursor: pointer" onclick="sortTable(6)">VAT</th>
    <th style="cursor: pointer" onclick="sortTable(7)">MRP w/ VAT</th>
            </tr>
        </thead>
        <tbody id="inventory_body">
        {% if items_lookup %}
        {% set i=0 %}
        {% for rows in items_lookup %}
            <tr>
                <td>{{rows[0]}}</td>
                <td>{{rows[1]}}</td>
                <td>{{rows[2]}}</td>
                <td>{{rows[3]}}</td>
                <td>{{rows[4]}}</td>
                <td>{{rows[5]}}</td>
                <td>{{rows[6]}}</td>
                <td>{{rows[7]}}</td>
        {% set i=i+1 %}
            </tr>
        {% endfor %}
        {% endif %}
			</tbody>
			</table>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#input_value").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#inventory_body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("view_inventory");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function sortNumber(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("view_inventory");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
      if (Number(x.innerHTML) < Number(y.innerHTML)) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
      if (Number(x.innerHTML) > Number(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>

{% endblock %}