{% extends "main_page.html" %}
{% block body %}
<body>
<div class="container">
  <h2>Counter Sales</h2>
  <p>Please Enter the details of Counter Sales.</p>
                {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}
    <form action="/counter_sales_submit" method = "post">
        <div class="appending_div">
  <div class = "input-group">
<input list="part_number5" placeholder="Part Number" name="part_number5">
<datalist id="part_number5">
    {% if (item_details) %}
    {% for item in item_details %}
  <option value="{{item[0]}}">
    {% endfor %}
    {% endif %}
</datalist>&nbsp &nbsp
      <input class="form-control" type="text" name="part_name5" placeholder="Part Name"/>&nbsp &nbsp
      <input class="form-control" type="number" name="quantity5" placeholder="Quantity"/>&nbsp &nbsp
      <input class="form-control" type="number" name="amount5" placeholder="Amount"/>&nbsp &nbsp
      <input class="form-control" type="text" name="remarks5" placeholder="Remarks"/>&nbsp &nbsp
  </div><br>
        </div>
        <button type="button" class="btn btn-primary float-right" onclick="this.form.submit();">Submit</button>
        </form>
</div>
</body>


{% endblock %}