{% extends "main_page.html" %}
{% block body %}
<body>
<div class="container">
  <h2>CSV Upload</h2>
  <p>Upload your Items File.</p>
        {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}

 <form action="/csv_file_submit" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">Choose the CSV file to upload.</label>
    <input type="file" class="form-control-file" name="csv_file" id="exampleFormControlFile1">
            <input class="form-control is-invalid" type="text" name="remarks2" placeholder="Remarks" required/>&nbsp &nbsp

              <button type="button" class="btn btn-primary float-right" onclick="this.form.submit();">Submit</button>

  </div>
</form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );</script>

{% endblock %}