{% extends "main_page.html" %}
{% block body %}
<body>
<div class="container">
  <h2>Damaged Items</h2>
  <p>Please Enter the details of Damaged Items.</p>
            {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}

    <form action="/damaged_items_submit" method = "post">
        <div class="appending_div">
  <div class = "input-group">
<input list="part_number6" placeholder="Part Number" name="part_number6">
<datalist id="part_number6">
    {% if (item_details) %}
    {% for item in item_details %}
  <option value="{{item[0]}}">
    {% endfor %}
    {% endif %}
</datalist>&nbsp &nbsp      <input class="form-control" type="text" name="part_name6" placeholder="Part Name"/>&nbsp &nbsp
      <input class="form-control" type="number" name="quantity6" placeholder="Quantity"/>&nbsp &nbsp
      <input class="form-control" type="number" name="amount6" placeholder="Amount"/>&nbsp &nbsp
      <input class="form-control" type="text" name="remarks6" placeholder="Remarks"/>&nbsp &nbsp
  </div><br>
        </div>
        <button type="button" class="btn btn-primary float-right" onclick="this.form.submit();">Submit</button>
        </form>
</div>
</body>


{% endblock %}