{% extends "main_page.html" %}
{% block body %}
<body>
<div class="container">
  <h2>Manual Entry</h2>
  <p>Please Enter the Item Details</p>
    {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}
    <form action="/manual_entry_submit" method = "post">
        <div class="appending_div">
  <div class = "input-group">
      <input list="part_number1" class="form-control" placeholder="Part Number" name="part_number1">
<datalist id="part_number1">
    {% if (item_details) %}
    {% for item in item_details %}
  <option value="{{item[0]}}">
    {% endfor %}
    {% endif %}
</datalist>&nbsp &nbsp
          <div class="input-group-prepend">
      <span class="input-group-text">Bill Date</span>
    </div>
      <input class="form-control is-invalid" type="date" name="bill_date1" placeholder="Bill Date" required/>&nbsp &nbsp
      <input class="form-control is-invalid" type="number" name="quantity1" placeholder="Quantity" required/>&nbsp &nbsp
      <input class="form-control is-invalid" type="number" name="amount1" placeholder="Amount" required/>&nbsp &nbsp
      <input class="form-control is-invalid" type="text" name="remarks1" placeholder="Remarks" required/>&nbsp &nbsp
  </div><br>
        </div>
        <button type="button" class="btn btn-primary float-right" onclick="this.form.submit();">Submit</button>
        </form>
</div>
</body>

<span class="add"><img src="/static/add.png" width="50px" height="50px"></span>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
var i = 1;
  $('.add').on('click', function() {
    var field = '<div class = "input-group"><input class="form-control" type="text" name="part_number' + i+1 + '" placeholder="Part Number"/>&nbsp &nbsp<input class="form-control" type="text" name="part_name' + i+1 + '" placeholder="Part Name"/>&nbsp &nbsp<input class="form-control" type="number" name="quantity' + i+1 + '" placeholder="Quantity"/>&nbsp &nbsp<input class="form-control" type="text" name="remarks' + i+1 + '" placeholder="Remarks"/>&nbsp &nbsp</div><br>';
    $('.appending_div').append(field);
    i = i+1;
  })
})
</script>
{% endblock %}