{% extends "main_page.html" %}
{% block body %}
<body>
<div class="container">
  <h2>CSV Upload</h2>
  <p>Upload your Items File.</p>
        {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}

  <div class="form-group card bg-success text-white p-2">
    <label for="csv_file">Choose the CSV file to upload.</label>
    <input type="file" class="form-control-file mb-2" name="csv_file" id="csv_file">
      <div class = "input-group input-group mb-4">
      		   <div class="input-group-prepend">
                <span class="input-group-text" id="bill_date1">Bill Date</span>
               </div>
            <input form = "csv_upload_form" class="form-control" type="date" name="bill_date1" placeholder="Bill Date" required/>&nbsp &nbsp
            <input form = "csv_upload_form" class="form-control" type="text" name="bill_number1" placeholder="Bill Number" required/>&nbsp &nbsp
            <input form = "csv_upload_form" class="form-control" type="text" name="purchased_from1" placeholder="Dealer" required/>&nbsp &nbsp
            <input form = "csv_upload_form" class="form-control" type="text" name="remarks1" placeholder="Remarks"/>&nbsp &nbsp
      </div>
      <button class="btn btn-primary float-right" onclick="handleFiles()" >Upload</button>
      </div>
 <form action="/csv_file_submit" method="post" enctype="multipart/form-data" id="csv_upload_form">

<div id="appending_div" style="visibility:hidden;" class="card p-3 mb-2">
		<h6>Entered Items</h6>
 </div>
         <input type="submit" id="submit_button" class="btn btn-primary float-right" style="visibility:hidden;" value="Submit"></input>


</form>
   NPRs.<div class="card card-sm text-danger p-2 col-sm-3" id="total_amount_display"> 0.00</div>
</div>
</body>
<script>
function handleFiles(){
document.getElementById("submit_button").style.visibility="visible";
const file = document.getElementById('csv_file').files[0];
var type = file.type;
if (type === 'text/csv'){
console.log(type);
var reader = new FileReader();
var fileDisplayArea = document.getElementById('fileDisplayArea');

reader.onload = function(e) {
					var file_split = reader.result.split("\n");
					if (file_split[0] === 'SN,Part Number,Part Name,Quantity,Amount'){
					console.log('Header OK');
					var i;
					console.log(file_split);
					for (i=1;i<file_split.length;i++){
					var rows = file_split[i].split(",");
					var row_items_no = rows.length;
                    if (row_items_no === 1){continue;}
                    else if (row_items_no !== 5){alert("Error in Some Rows!!");console.log(row_items_no); return 1;}
                    document.getElementById("appending_div").style.visibility="visible";
                    var field = '<div id = "field' + i + '"class = "input-group input-group-sm mb-2"><input class="form-control" type="text" name="part_number' + (i+1) + '" placeholder="Part Number" value=' + rows[1] + ' required>&nbsp &nbsp<input class="form-control" type="number" name="quantity' + (i+1) + '" placeholder="Quantity" value=' + rows[3] + ' required>&nbsp &nbsp<input class="form-control added-amount" type="number" name="amount' + (i+1) + '" placeholder="Amount" value=' + rows[4] + ' required>&nbsp &nbsp<input class="form-control" type="text" name="remarks' + (i+1) + '" placeholder="Remarks" value="">&nbsp <btn class="btn btn-danger btn-sm" id="trash' + i + '" onclick="removeField(' + i + ');"><i class="fas fa-trash"></i></btn></div>';
    $('#appending_div').append(field);
    addAmount();

					}

					}
					else{
					}
				}
				reader.readAsText(file);
}
else{
console.log('other files')}
}


function removeField(n){
  var elementid = 'field' + n;
  console.log(elementid);
  var app_div = document.getElementById(elementid);
  app_div.remove();
   addAmount();

  }
  function addAmount(){
  var amtArray = document.getElementsByClassName('added-amount');
  var tot_amnt = 0;
  for(var i=0;i<amtArray.length;i++){
  tot_amnt = tot_amnt + Number(amtArray[i].value);
  }
    document.getElementById('total_amount_display').innerHTML = tot_amnt.toLocaleString();
  return true;
  }
</script>

{% endblock %}