{% extends "main_page.html" %}
{% block body %}
<div class="container">
  <h2>Exit Report</h2>
  <p>Find all the Exits here.</p>
<div class = "card p-2 bg-success text-white">
    <form action="/exit_report_submit" method = "post">
    <div class = "input-group input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text">From</span>
    </div>
      <input id = "exit_date_from" class="form-control" type="date" name="exit_date_from" placeholder="Exit Date From"/>&nbsp &nbsp
    <div class="input-group-prepend">
      <span class="input-group-text">To</span>
    </div>
      <input id = "exit_date_to" class="form-control" type="date" name="exit_date_to" placeholder="Exit Date To"/>&nbsp &nbsp
        <div class="input-group-prepend">
      <span class="input-group-text">Bill Date</span>
    </div>
      <input id = "bill_date3" class="form-control" type="date" name="bill_date3" placeholder="Bill Date"/>&nbsp &nbsp
      <input id = "bill_number3" class="form-control" type="text" name="bill_number3" placeholder="Bill Number"/>&nbsp &nbsp
      <input id = "exit_by" class="form-control" type="text" name="exit_by" placeholder="Exit By"/>&nbsp &nbsp
  </div><br>
        <button type="button" class="btn btn-primary float-right" onclick="this.form.submit();">Generate</button>
        </form>
</div>
<div class="card shadow">
            <div class="card-body">
              <div class="table table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-info">
            <tr>
    <th>Bill Number</th>
    <th>Exit Number</th>
    <th>Bill Date</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>Remarks</th>
    <th>Exit Type</th>
    <th>Exit Date</th>
    <th>Exit By</th>
            </tr>
        </thead>
        <tbody id="inventory_body">
        {% if exit_report %}
        {% for rows in exit_report %}
            <tr>

                <td>{{rows[1]}}</td>
                <td>
				<button class='btn btn-primary text-white' onclick="resetTable(event)">{{rows[0]}}</button></a>
			    </td>
                <td>{{rows[2]}}</td>
                <td>{{rows[7]}}</td>
                <td>{{rows[8]}}</td>
                <td>{{rows[3]}}</td>
                <td>{{rows[4]}}</td>
                <td>{{rows[5]}}</td>
                <td>{{rows[6]}}</td>
            </tr>
        {% endfor %}
        {% endif %}
			</tbody>
			</table>
              </div></div></div></div>
<div class="modal fade" id="exit_reports_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exitModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h6 id="bill_date_modal">Bill Date:</h6>
          <h6 id="exit_by_modal">Exit By:</h6>
          <h6 id="remarks_modal">Remarks:</h6>
          <h6 id="from_modal">To:</h6>
        <table class="table table-bordered table-sm" id="modal_table_exit_reports" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td class="bg-success text-white font-weight-bold">Part Number</td>
                        <td class="bg-success text-white font-weight-bold">Quantity</td>
                        <td class="bg-success text-white font-weight-bold">Amount</td>
                    </tr>
                    </thead>
                </table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="printFromHTML()">Print</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
		<script type=text/javascript>

	function resetTable(e){
			var table = document.getElementById('modal_table_exit_reports');
for (j = 1; j < table.rows.length;){
                  table.deleteRow(j);
                  }
sendExitno(e);
	}
		function sendExitno(e){
		var en_no = e.target.innerText;
		$.getJSON('/modal_display_exit_reports', {
				  exitnumber: en_no,
				}, function(data) {
				  $("#result").text(data.modal_results);
				  $('#exit_reports_modal').modal();
				  var table = document.getElementById("modal_table_exit_reports");
				  var modalTitle = document.getElementById("exitModalTitle");
				  var bill_date_modal = document.getElementById("bill_date_modal");
				  var exit_by_modal = document.getElementById("exit_by_modal");
				  var remarks_modal = document.getElementById("remarks_modal");
				  var from_modal = document.getElementById("from_modal");
				  var i;
                  for (i = 0; i < data.modal_results.length; i++) {
				  var row = table.insertRow(i + 1);
				  var cell1 = row.insertCell(0);
                  var cell2 = row.insertCell(1);
                  var cell3 = row.insertCell(2);
                  cell1.innerHTML = data.modal_results[i][0];
                  cell2.innerHTML = data.modal_results[i][2];
                  cell3.innerHTML = data.modal_results[i][3];
                  modalTitle.innerHTML = en_no;
                  bill_date_modal.innerHTML = 'Bill Date: ' + data.modal_results[i][4];
                  exit_by_modal.innerHTML = 'Exit By: ' + data.modal_results[i][5];
                  remarks_modal.innerHTML = 'Remarks: ' + data.modal_results[i][6];
                  from_modal.innerHTML = 'Purchased From: ' + data.modal_results[i][7];

}
				})
		}
function printFromHTML() {
        var pdf = new jsPDF('p', 'pt', 'a4');

        source = $('#exit_reports_modal')[0];


        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };

        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF

            },

            function (dispose) {

                pdf.save('Test.pdf');
            }, margins
        );
    }

		</script>

{% endblock %}