{% extends "main_page.html" %}
{% block body %}
<div class="container">
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Workshop Exit</h1>
  <p>Please Enter the Item Details</p>
    {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}
	<hr>
            <a href="/workshop_exit" class="btn border border-success bg-light text-success pr-3 pl-3 p-2 m-1">Pending</a>
	<hr><div class="card p-3 bg-success text-white">
	<h5 class="mb-3">Exit Summary Details</h5>
		  <div class = "input-group input-group-sm mb-1 pb-1">
		  <input class="form-control" type = "text" name = "jc_number" form = "p_workshop_exit_form" placeholder="Job Card Number" required/>&nbsp &nbsp
		   <div class="input-group-prepend">
    <span class="input-group-text" id="bill_date1">Date</span>
  </div>
		  <input class="form-control" type = "date" name = "jc_date" form = "p_workshop_exit_form" required/>&nbsp &nbsp
      <input type="text" class="form-control" placeholder="Bike Number" id="bike_number" name="bike_number" form = "p_workshop_exit_form" required>&nbsp &nbsp


		  </div>
    		  <div class = "input-group input-group-sm mb-1">
      <input type="text" class="form-control" placeholder="Bike Modell" id="bike_model" name="bike_model" form = "p_workshop_exit_form" >&nbsp &nbsp
      <input type="text" class="form-control" placeholder="Version" id="bike_version" name="bike_version" form = "p_workshop_exit_form" >&nbsp &nbsp
                  <input list="ws_type" class="form-control" id="ws_type1" name="ws_type" placeholder="WS Type" form = "p_workshop_exit_form" required>
<datalist id="ws_type">

  <option value="Cash">
    <option value="Warranty">
    <option value="Others">

</datalist>&nbsp &nbsp
     <!--
     <input list="purchased_from" class="form-control" placeholder="Purchased From" id="pruchased_from" name="purchased_from1" form = "manual_entry_form" required>
<datalist id="purchased_from">
    {% if (dealers) %}
    {% for dealer in dealers %}
  <option value="{{dealer[0]}}">
    {% endfor %}
    {% endif %}
</datalist>&nbsp &nbsp
-->
                  <button id = "batch_button" class="btn btn-primary float-right " onclick="showInput();">Create Entry</button>


              </div>
		  </div>
<hr><div class="card p-3 bg-secondary text-white" style="visibility:hidden;" id="main_input">
<h5> Item Details Here.</h5>
	  <div class = "input-group input-group-sm">
      <input list="part_number1" class="form-control" placeholder="Part Number" id="part_number">
<datalist id="part_number1">
    {% if (item_details) %}
    {% for item in item_details %}
  <option value="{{item[0]}}">
    {% endfor %}
    {% endif %}
</datalist>&nbsp &nbsp
      <input class="form-control is-invalid" type="number" id="quantity" placeholder="Quantity"></input>&nbsp &nbsp
      <input class="form-control is-invalid" type="number" id="amount" placeholder="Amount"> </input>&nbsp &nbsp
      <input class="form-control is-invalid" type="text" id="remarks" placeholder="Remarks"> </input>&nbsp &nbsp
	  <button  id="add" class="btn btn-primary float-right" onclick="myFunction();">Add</button>
	  	  <hr>
  </div></div><br>

    <form action="/p_workshop_exit_form_submit" method = "post" id = "p_workshop_exit_form">
        <div id="appending_div" style="visibility:hidden;" class="card p-3 mb-2">
		<h6>Entered Items</h6>
 </div>
         <input type="submit" id="submit_button" class="btn btn-primary float-right" style="visibility:hidden;" value="Submit"></input>

        </form>
    NPRs.<div class="card card-sm text-danger p-2 col-sm-3" id="total_amount_display"> 0.00</div>
</div>
<script>
  var i = 2;
  function showInput(){
  var app_div = document.getElementById("main_input").style.visibility="visible";
}
  function myFunction() {
    var part_number = document.getElementById('part_number').value.substring(0,12);
	var quantity = document.getElementById('quantity').value;
    var amount = document.getElementById('amount').value;
    var remarks = document.getElementById('remarks').value;
    if (part_number !== "" && quantity !== "" && amount !== ""){
	document.getElementById("appending_div").style.visibility="visible";
	document.getElementById("submit_button").style.visibility="visible";

    var field = '<div id = "field' + i + '"class = "input-group input-group-sm mb-2"><input class="form-control" type="text" name="part_number' + i + '" placeholder="Part Number" value=' + part_number + ' required>&nbsp &nbsp<input class="form-control" type="number" name="quantity' + i + '" placeholder="Quantity" value=' + quantity + ' required>&nbsp &nbsp<input class="form-control added-amount" type="number" name="amount' + i + '" placeholder="Amount" value=' + amount + ' required>&nbsp &nbsp<input class="form-control" type="text" name="remarks' + i + '" placeholder="Remarks" value=' + remarks + '>&nbsp <btn class="btn btn-danger btn-sm" id="trash' + i + '" onclick="removeField(' + i + ');"><i class="fas fa-trash"></i></btn></div>';
    $('#appending_div').append(field);
    i = i+1;
	document.getElementById('part_number').value = "";
	document.getElementById('quantity').value = "";
	document.getElementById('amount').value = "";
	document.getElementById('remarks').value = "";
	addAmount();
  }else{
  window.alert('Empty Field');}
  }

  function removeField(n){
  var elementid = 'field' + n;
  console.log(elementid);
  var app_div = document.getElementById(elementid);
  app_div.remove();
   addAmount();

  }
  function addAmount(){
  var amtArray = document.getElementsByClassName('added-amount');
  var tot_amnt = 0;
  for(var i=0;i<amtArray.length;i++){
  tot_amnt = tot_amnt + Number(amtArray[i].value);
  }
    document.getElementById('total_amount_display').innerHTML = tot_amnt.toLocaleString();
  return true;
  }


</script>
{% endblock %}