{% extends "main_page.html" %}
{% block body %}
<div class="container">
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Workshop Exit</h1>
  <p>Please Enter the Item Details</p>
    {% if (notification_msg) %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{notification_msg}}
</div>
    {% endif %}
	<hr>
            <a href="/workshop_exit_new" class="btn border border-success bg-light text-success pr-3 pl-3 p-2 m-1">New</a>
	<hr>

<div class="card ">
    <div class="card shadow text-light bg-success">
        <h5 class="mb-3 p-2">Pending Job Cards</h5>
</div>
            <div class="card-body">
              <div class="table table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-info">
            <tr>
    <th>JC Number</th>
    <th>Bike Number</th>
    <th>Created Date</th>
    <th>Model</th>
    <th>Version</th>
    <th>JC Type</th>
    <th>Action</th>
            </tr>
        </thead>
        <tbody id="inventory_body">
        {% if pending_ws_items %}
        {% for rows in pending_ws_items %}
            <tr>
                <td>
				{{rows[0]}}
			    </td>
                <td>{{rows[1] if rows[1] else 0}}</td>
                <td>{{rows[2] if rows[2] else 0}}</td>
                <td>{{rows[3] if rows[3] else 0}}</td>
                <td>{{rows[4] if rows[4] else 0}}</td>
                <td>{{rows[5] if rows[5] else 0}}</td>
                <td>
                    <button class="btn rounded border border-success text-success" onclick="pendingWS(event)" value="{{rows[0]}}">
                       Add
                    </button>
                </td>

            </tr>
        {% endfor %}
        {% endif %}
			</tbody>
			</table>
              </div>
            </div>
</div>
<hr>

    <br>

</div>
<div class="modal fade" id="pending_ws_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pending_modal_title"><input disabled value="JC NUMBER" placeholder="JC Number"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h6 id="entry_modal_title">Entry Details:</h6>
        <div class="card p-3 bg-secondary text-white"  id="main_input">
<h5> Item Details Here.</h5>
	  <div class = "input-group input-group-sm">
      <input list="part_number1" class="form-control" placeholder="Part Number" id="part_number" form="pending_ws_item_form">
<datalist id="part_number1">
    {% if (item_details) %}
    {% for item in item_details %}
  <option value="{{item[0]}}">
    {% endfor %}
    {% endif %}
</datalist>&nbsp &nbsp
      <input class="form-control is-invalid" type="number" id="quantity" placeholder="Quantity" form="pending_ws_item_form"></input>&nbsp &nbsp
      <input class="form-control is-invalid" type="number" id="amount" placeholder="Amount" form="pending_ws_item_form"> &nbsp &nbsp
      <input class="form-control is-invalid" type="text" id="remarks" placeholder="Remarks" form="pending_ws_item_form"> &nbsp &nbsp
	  <button  id="add" class="btn btn-primary float-right" onclick="myFunction();">Add</button>
	  	  <hr>
  </div>
            </div>
<form action="/pending_ws_submit" method = "post" id = "pending_ws_item_form">
        <div id="appending_div" style="visibility:hidden;" class="card p-3 mb-2">
		<h6>Entered Items</h6>
 </div>

        </form>
      </div>
      <div class="modal-footer">
          NPRs.<div class="card card-sm text-danger p-2 col-sm-3" id="total_amount_display"> 0.00</div>

          <button type="button" class="btn btn-primary" onclick="submitForm();" id="submit_button" style="visibility:hidden;">Submit</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
		<script type=text/javascript>
		function pendingWS(e){
		var en_no = e.target.innerText;
		$('#pending_ws_modal').modal();
}

 function myFunction() {
    var i = 2;
    var part_number = document.getElementById('part_number').value.substring(0,12);
    console.log(part_number);
	var quantity = document.getElementById('quantity').value;
	console.log(quantity);
    var amount = document.getElementById('amount').value;
    console.log(amount);
    var remarks = document.getElementById('remarks').value;
    console.log(remarks);
    if (part_number !== "" && quantity !== "" && amount !== ""){
	document.getElementById("appending_div").style.visibility="visible";
	document.getElementById("submit_button").style.visibility="visible";
    var field = '<div id = "field' + i + '"class = "input-group input-group-sm mb-2"><input class="form-control" type="text" name="part_number' + i + '" placeholder="Part Number" value=' + part_number + ' required>&nbsp &nbsp<input class="form-control" type="number" name="quantity' + i + '" placeholder="Quantity" value=' + quantity + ' required>&nbsp &nbsp<input class="form-control added-amount" type="number" name="amount' + i + '" placeholder="Amount" value=' + amount + ' required>&nbsp &nbsp<input class="form-control" type="text" name="remarks' + i + '" placeholder="Remarks" value=' + remarks + '>&nbsp <btn class="btn btn-danger btn-sm" id="trash' + i + '" onclick="removeField(' + i + ');"><i class="fas fa-trash"></i></btn></div>';
    $('#appending_div').append(field);
    i = i+1;
	document.getElementById('part_number').value = "";
	document.getElementById('quantity').value = "";
	document.getElementById('amount').value = "";
	document.getElementById('remarks').value = "";
	addAmount();
  }else{
  window.alert('Empty Field');}
  }

  function removeField(n){
  var elementid = 'field' + n;
  console.log(elementid);
  var app_div = document.getElementById(elementid);
  app_div.remove();
   addAmount();

  }
  function addAmount(){
  var amtArray = document.getElementsByClassName('added-amount');
  var tot_amnt = 0;
  for(var i=0;i<amtArray.length;i++){
  tot_amnt = tot_amnt + Number(amtArray[i].value);
  }
    document.getElementById('total_amount_display').innerHTML = tot_amnt.toLocaleString();
  return true;
  }

function submitForm(){
document.getElementById('pending_ws_item_form').submit();
console.log('submitted');
}


</script>
{% endblock %}