{% extends "main_page.html" %}
{% block body %}
<div class="container">
  <h2>Total Inventory</h2>
  <p>Find all the Item Inventory here.</p>
<div class = "card p-2 bg-success text-white">
    <form action="/total_inventory_submit" method = "post">
    <div class = "input-group input-group input-group-sm">
      <input list="part_number1" class="form-control" placeholder="Part Number" id="part_number" name="part_number8">
<datalist id="part_number1">
    {% if (item_details) %}
    {% for item in item_details %}
  <option value="{{item[0]}}">
    {% endfor %}
    {% endif %}
</datalist>&nbsp &nbsp
        <button type="button" class="btn btn-primary float-right" onclick="this.form.submit();">Generate</button>
  </div><br>
        </form>
</div>
<div class="card shadow">
            <div class="card-body">
              <div class="table table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-info">
            <tr>
    <th>Part Number</th>
    <th>Entry Count</th>
    <th>Entry Amount</th>
    <th>Exit Count</th>
    <th>Exit Amount</th>
    <th>Available Count</th>
    <th>Net Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="inventory_body">
        {% if total_inventory %}
        {% for rows in total_inventory %}
            <tr>
                <td>
				<button class='btn btn-primary text-white' onclick="resetTable(event)">{{rows[0]}}</button></a>
			    </td>
                <td>{{"{:,.2f}".format(rows[1]) if rows[1] else 0}}</td>
                <td>{{"{:,.2f}".format(rows[2]) if rows[2] else 0}}</td>
                <td>{{"{:,.2f}".format(rows[3]) if rows[3] else 0}}</td>
                <td>{{"{:,.2f}".format(rows[4]) if rows[4] else 0}}</td>
                <td>{{"{:,.2f}".format(rows[5]) if rows[5] else rows[1]}}</td>
                <td>{{"{:,.2f}".format(rows[6]) if rows[6] else rows[4]}}</td>
                <td>
                    <button class="btn rounded border border-success text-success" onclick="addtoWishlist(event)" value="{{rows[0]}}">
                       Add
                    </button>
                </td>

            </tr>
        {% endfor %}
        {% endif %}
			</tbody>
			</table>
              </div>
            </div>
</div>
</div>
<div class="modal fade" id="inv_reports_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inventoryModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h6 id="entry_modal_title">Entry Details:</h6>
        <table class="table table-bordered table-sm" id="modal_table_total_inventory1" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td class="bg-success text-white font-weight-bold">Bill Number</td>
                        <td class="bg-success text-white font-weight-bold">Bill Date</td>
                        <td class="bg-success text-white font-weight-bold">Quantity</td>
                        <td class="bg-success text-white font-weight-bold">Amount</td>
                        <td class="bg-success text-white font-weight-bold">Remarks</td>
                        <td class="bg-success text-white font-weight-bold">By</td>
                        <td class="bg-success text-white font-weight-bold">On</td>
                    </tr>
                    </thead>
                </table>
                    <h6 id="exit_modal_title">Exit Details:</h6>
        <table class="table table-bordered table-sm" id="modal_table_total_inventory2" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td class="bg-success text-white font-weight-bold">Bill Number</td>
                        <td class="bg-success text-white font-weight-bold">Bill Date</td>
                        <td class="bg-success text-white font-weight-bold">Quantity</td>
                        <td class="bg-success text-white font-weight-bold">Amount</td>
                        <td class="bg-success text-white font-weight-bold">Remarks</td>
                        <td class="bg-success text-white font-weight-bold">By</td>
                        <td class="bg-success text-white font-weight-bold">On</td>
                    </tr>
                    </thead>
        </table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="printFromHTML()">Print</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
		<script type=text/javascript>

	function resetTable(e){
			var table = document.getElementById('modal_table_total_inventory1');
for (j = 1; j < table.rows.length;){
                  table.deleteRow(j);
                  }
			var table2 = document.getElementById('modal_table_total_inventory2');
for (j = 1; j < table2.rows.length;){
                  table2.deleteRow(j);
                  }

sendExitno(e);
	}
		function sendExitno(e){
		var en_no = e.target.innerText;
		$.getJSON('/modal_display_inventory_reports', {
				  part_number_inv: en_no,
				}, function(data) {
				  $("#result").text(data.modal_results1);
				  $("#result").text(data.modal_results2);
				  $('#inv_reports_modal').modal();
				  var table = document.getElementById("modal_table_total_inventory1");
				  var modalTitle = document.getElementById("inventoryModalTitle");
				  var i;
                  for (i = 0; i < data.modal_results1.length; i++) {
				  var row = table.insertRow(i + 1);
				  var cell1 = row.insertCell(0);
                  var cell2 = row.insertCell(1);
                  var cell3 = row.insertCell(2);
                  var cell4 = row.insertCell(3);
                  var cell5 = row.insertCell(4);
                  var cell6 = row.insertCell(5);
                  var cell7 = row.insertCell(6);
                  cell1.innerHTML = data.modal_results1[i][10];
                  cell2.innerHTML = data.modal_results1[i][9];
                  cell3.innerHTML = data.modal_results1[i][2];
                  cell4.innerHTML = data.modal_results1[i][8];
                  cell5.innerHTML = data.modal_results1[i][3];
                  cell6.innerHTML = data.modal_results1[i][4];
                  cell7.innerHTML = data.modal_results1[i][5];
                  modalTitle.innerHTML = en_no;
}
                  var table2 = document.getElementById("modal_table_total_inventory2");
                  for (i = 0; i < data.modal_results2.length; i++) {
				  var row = table2.insertRow(i + 1);
				  var cell1 = row.insertCell(0);
                  var cell2 = row.insertCell(1);
                  var cell3 = row.insertCell(2);
                  var cell4 = row.insertCell(3);
                  var cell5 = row.insertCell(4);
                  var cell6 = row.insertCell(5);
                  var cell7 = row.insertCell(6);
                  cell1.innerHTML = data.modal_results2[i][10];
                  cell2.innerHTML = data.modal_results2[i][9];
                  cell3.innerHTML = data.modal_results2[i][2];
                  cell4.innerHTML = data.modal_results2[i][8];
                  cell5.innerHTML = data.modal_results2[i][3];
                  cell6.innerHTML = data.modal_results2[i][4];
                  cell7.innerHTML = data.modal_results2[i][5];

}
				})
		}

function printFromHTML() {
        var pdf = new jsPDF('l', 'pt', 'a4');

        source = $('#inv_reports_modal')[0];


        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };

        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF

            },

            function (dispose) {

                pdf.save('Test.pdf');
            }, margins
        );
    }

    function addtoWishlist(ev){
    $.getJSON('/addto_wishlist', {
				  part_number: ev.target.value,
				}, function(data) {
				  $("#result").text(data.result);
				  alert(data.result);
				  })
    }

		</script>

{% endblock %}