{% extends "main_page.html" %}
{% block body %}
<div class="container">
  <h2>Wishlist&nbsp<i class="fa fa-heart text-danger"></i></h2>
  <p>Find all the Wishlist Items here.</p>
{% if msg %}
                      <div class="alert alert-danger alert-dismissible">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{msg}}
</div>
                      {% endif %}
<div class="card shadow">
            <div class="card-body">
              <div class="table table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-info">
            <tr>
    <th>Part Number</th>
    <th>Hits</th>
                <th>Remove</th>

        </tr>
        </thead>
        <tbody id="inventory_body">
        {% if result11 %}
        {% for rows in result11 %}
            <tr>
                <td>{{rows[0]}}</td>
                <td>{{"{:,}".format(rows[1])}}</td>
                <td><a class="btn btn-warning" href="\removefrom_wishlist?part_number_remove={{rows[0]}}">
                    <h6><i class="fa fa-trash"></i>Remove</h6></a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
			</tbody>
			</table>
              </div></div></div></div>
<div class="modal fade" id="inv_reports_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inventoryModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h6 id="entry_modal_title">Entry Details:</h6>
        <table class="table table-bordered table-sm" id="modal_table_total_inventory1" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td class="bg-success text-white font-weight-bold">Bill Number</td>
                        <td class="bg-success text-white font-weight-bold">Bill Date</td>
                        <td class="bg-success text-white font-weight-bold">Quantity</td>
                        <td class="bg-success text-white font-weight-bold">Amount</td>
                        <td class="bg-success text-white font-weight-bold">Remarks</td>
                        <td class="bg-success text-white font-weight-bold">By</td>
                        <td class="bg-success text-white font-weight-bold">On</td>
                    </tr>
                    </thead>
                </table>
                    <h6 id="exit_modal_title">Exit Details:</h6>
        <table class="table table-bordered table-sm" id="modal_table_total_inventory2" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td class="bg-success text-white font-weight-bold">Bill Number</td>
                        <td class="bg-success text-white font-weight-bold">Bill Date</td>
                        <td class="bg-success text-white font-weight-bold">Quantity</td>
                        <td class="bg-success text-white font-weight-bold">Amount</td>
                        <td class="bg-success text-white font-weight-bold">Remarks</td>
                        <td class="bg-success text-white font-weight-bold">By</td>
                        <td class="bg-success text-white font-weight-bold">On</td>
                    </tr>
                    </thead>
        </table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="printFromHTML()">Print</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}